<html>
    <head>
        <title>
           <!-- to change the value of title dynamic written as -->
            <%=title%>
        </title>
        


    </head>
    <body>
        <h1>playground</h1>
        <ul>

            <% for(i=0;i<5;i++){ %>
                <li>
                    <%=i %>
                </li>
            <%}%>
        </ul>
        <%if(true) { %>
            
                <h1>i am dileep</h1>
           <%   }else {   %>
                <p>not dileep :(</p>
                    
                

           <% } %>

        
    </body>
</html>